@{
    ViewBag.Title = "Home";
}
<link href="~/Content/css/movie/movie.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="items_start">

    <div class="it_st-logo gap-6">
        <i class="fa-regular fa-moon"></i>
    </div>
    <div>
        <div class="it_st_items it_st-menu gap-6">
            <div class="it_st-menu-home item_menu_start text-size font-medium" ">
                <a class="flex gap-6 web-now" " href="https://localhost:44359/Home/Index"><i class="fa-solid fa-house"></i></a>
            </div>
            <div class="it_st-menu-explore item_menu_start text-size font-medium">
                <a class="flex gap-6" href="https://localhost:44359/Explore/Explore"><i class="fa-solid fa-compass"></i></a>
            </div>
            <div class="it_st-menu-search item_menu_start text-size font-medium">
                <a class="flex gap-6" href="https://localhost:44359/Search/Search"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
        </div>

        <div class="it_st_items it_st-personal gap-6">
            <div class="it_st-personal-bookmarked item_menu_start text-size font-medium">
                <a class="flex gap-6" href="/"><i class="fa-solid fa-bookmark"></i></a>
            </div>
            <div class="it_st-personal-history item_menu_start text-size font-medium">
                <a class="flex gap-6" href="/"><i class="fa-solid fa-clock"></i></a>
            </div>
        </div>

        <div class="it_st_items it_st-general gap-6">
            <div class="it_st-personal-profile item_menu_start text-size font-medium">
                <a class="flex gap-6" href="/"><i class="fa-solid fa-user"></i></a>
            </div>
        </div>
    </div>
    <div class="it_st-personal-login item_menu_start text-size font-medium">
        <a class="flex gap-6" href="/"><i class="fa-solid fa-right-to-bracket"></i></a>
    </div>
</div>

<div class="center_web">
    <div class="cw-background-movie">
        <div class="cw-background-body">

            <img src="~/Content/img/movie/sDbpr5VoxlcQvzvWFECr7bXCAwg.jpg" />
            <div class="cw-background-information">
                <div class="cw-background-title">
                    Bad Monkey
                </div>
                <div class="cw-background-category">
                    <div class="cw-category">
                        COMEDY
                    </div>
                    <div class="cw-category">
                        CRIME
                    </div>
                </div>
            </div>
            <a class="cw-watch" href="/">
                WATCH
            </a>
        </div>
        <div class="cw-action-icon">
            <a href="/"><i class="fa-solid fa-heart"></i></a>
            <a href="/"><i class="fa-solid fa-share"></i></a>
            <a href="/"><i class="fa-solid fa-bars"></i></a>
        </div>
    </div>
    <div class="cw-body">
        <div class="cw-body-left">
            <div class="cw-bl-rating">
                Rating
            </div>
            <div class="cw-bl-length">
                EP LENGTH
            </div>
        </div>
        <div class="cw-body-center">

        </div>
        <div class="cw-body-right">

        </div>
    </div>
</div>


<div class="right_wed">
    <div class="rw-search">
        <button class="rw-search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        <input class="rw-search-input" type="text" placeholder="Search..." />
    </div>
    <div class="rw-similar">
        <div class="rw-similar-title">Similar</div>
        <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
    <div class="rw-similar-list">
        <div class="similar-item">
            <img class="img-similar-item" src="~/Content/img/trending1.jpg" />
            <div class="introduce-similar-item">
                <div class="title-similar-item">Bad Monkey</div>
                <div class="day-similar-item">2024-08-13</div>
                <div class="rates-similar-item">7.4<i class="fa-solid fa-star"></i></div>
            </div>
        </div>
    </div>
    <div class="rw-similar-list">
        <div class="similar-item">
            <img class="img-similar-item" src="~/Content/img/trending1.jpg" />
            <div class="introduce-similar-item">
                <div class="title-similar-item">Bad Monkey</div>
                <div class="day-similar-item">2024-08-13</div>
                <div class="rates-similar-item">7.4<i class="fa-solid fa-star"></i></div>
            </div>
        </div>
    </div>
    <div class="rw-similar-list">
        <div class="similar-item">
            <img class="img-similar-item" src="~/Content/img/trending1.jpg" />
            <div class="introduce-similar-item">
                <div class="title-similar-item">Bad Monkey</div>
                <div class="day-similar-item">2024-08-13</div>
                <div class="rates-similar-item">7.4<i class="fa-solid fa-star"></i></div>
            </div>
        </div>
    </div>
    <div class="rw-similar-list">
        <div class="similar-item">
            <img class="img-similar-item" src="~/Content/img/trending1.jpg" />
            <div class="introduce-similar-item">
                <div class="title-similar-item">Bad Monkey</div>
                <div class="day-similar-item">2024-08-13</div>
                <div class="rates-similar-item">7.4<i class="fa-solid fa-star"></i></div>
            </div>
        </div>
    </div>
    <div class="more-similar-list">
        <button class="more-similar-list-button">See more</button>
    </div>
</div>


