.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.web-now {
    color: #0d6efd !important;
    /* border-right: 4px solid #0d6efd; */
}

.flex {
    display: flex;
}

.gap-6 {
    gap: 1.5rem;
}

.items_start {
    height: 100vh;
    width: 70px;
    background-color: rgba(28, 28, 30);
    position: fixed;
    left: 0px;
    display: flex;
    padding: 30px 0px;
    flex-direction: column;
    justify-content: space-between;
}

.text-white {
    color: #ffffff;
}

.text-size {
    font-size: 1.125rem;
    font-height: 1.75rem;
}

.font-medium {
    font-weight: 500;
}

.it_st-logo {
    padding-bottom: 20px;
    font-size: 43px;
    display: flex;
}

.it_st-logo>.fa-regular {
    font-size: 40px;
    color: aliceblue;
    padding: 20px;
    /* margin-bottom: 160px; */
}

.it_st_items {
    /* padding-top: 0px; */
}

.it_st_items>div {
    padding: 20px;
    margin: 0px;
    font-size: 20px;
}

.it_st_items>div>a {
    text-decoration: none;
    color: rgb(152 152 152);
    align-items: center;
    transition: color 0.5s ease;
}

.it_st_items>div>a:hover {
    color: aliceblue;
}

.item_menu_start {
    margin-left: 20px;
}

.it_st-menu {}

.center_web {
    width: calc(100% - 370px);
    position: relative;
    left: 70px;
    /* padding: 28px; */
    background-color: rgba(28, 28, 30);
    min-height: 100vh;
    /* border: 1px solid rgb(58, 57, 57); */
    border-top: 0px;
    border-bottom: 0px;
    height: 3000px;
}

.cw-background-movie {
    height: 400px;
    background-image: url('../../img/movie/ecnkqs4owvkmptjfml2cwyhlvol.jpg');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 15px;
    /* background-color: rgba(28, 28, 30); */
}

.cw-background-movie::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 30, 0.3);
    /* Thay đổi màu và độ trong suốt tại đây */
}

.cw-background-movie img {
    width: 185px;
    object-fit: cover;
    /* Giữ tỉ lệ ảnh và cắt phần không cần thiết */
    /* object-position: center; */
    /* Tập trung vào phần giữa của ảnh */
    border-radius: 15px;
}

.cw-background-body {
    position: absolute;
    top: 170px;
    left: 90px;
    display: flex;
    width: 90%;
    align-items: center;
}

.cw-background-information {
    padding-left: 50px;
    flex-grow: 1;
}

.cw-background-title {
    font-size: 40px;
    color: #ffffff;
    font-weight: 750;
}

.cw-background-category {
    display: flex;
    gap: 15px;
    padding-top: 10px;
}

.cw-category {
    color: #ffffff;
    padding: 4px 12px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    font-weight: 600;
}

.cw-watch {
    font-size: 20px;
    color: #ffffff;
    /* margin-left: 40%; */
    padding: 10px 60px;
    background-color: #0d6efd;
    border-radius: 50px;
    text-decoration: none;
}

.cw-action-icon {
    position: absolute;
    right: 30px;
    top: 8px;
    font-size: 17px;
    color: #ffffff;
}

.cw-action-icon a i {
    color: #ffffff;
    margin: 5px;
    padding: 9px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    transition: 0.5s ease;
}

.cw-action-icon a i:hover {
    color: #0d6efd;
    border: 2px solid #0d6efd;
}

.right_wed {
    height: 100vh;
    width: 300px;
    background-color: rgba(28, 28, 30);
    position: fixed;
    right: 0px;
    /* padding: 40px 0px 0px 32px; */
    display: flex;
    padding: 30px 20px;
    flex-direction: column;
}

.rw-search {
    position: relative;
    padding-bottom: 20px;
}

.rw-search-button {
    position: absolute;
    top: 8px;
    left: 15px;
    font-size: 20px;
    color: #8a939d;
    border: 0px;
    background-color: #515151;
    transition: color 0.5s ease;
}

.rw-search-button:hover {
    color: aliceblue;
}

.rw-search-input {
    padding: 12px 20px 12px 56px;
    border-radius: 50px;
    background-color: #515151;
    color: #ffffff;
    border: 0px;
}

.rw-search-input::placeholder {
    color: rgb(152 152 152);
}

.rw-similar {
    display: flex;
    justify-content: space-between;
}

.rw-similar-list {
    padding: 30px 0px 0px 0px;
}

.rw-similar-title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.fa-ellipsis-vertical {
    color: #fafafa;
    padding-top: 6px;
    font-size: 19px;
}

.similar-item {
    display: flex;
    flex-direction: row;
}

.img-similar-item {
    border-radius: 10px;
    width: 100px;
}

.introduce-similar-item {
    display: flex;
    flex-direction: column;
    /* color: #ffffff; */
    justify-content: center;
}

.title-similar-item {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 0px 0px 8px 20px;
}

.day-similar-item {
    rgba(: 1);
    rgba(: 15);
    padding: 0px 20px;
    color: rgba(152 152 152);
    font-size: 15px;
}

.rates-similar-item {
    border: 1px solid #0d6efd;
    width: fit-content;
    padding: 2px 15px;
    border-radius: 30px;
    margin: 20px;
    color: #0d6efd;
    font-size: 15px;
}

.more-similar-list-button {
    padding: 8px 10px;
    background-color: #515151;
    display: flex;
    border-radius: 50px;
    width: 220px;
    text-decoration: none;
    color: #d3d3d3;
    transition: color 0.5s ease;
    justify-content: center;
    align-items: center;
    border: 0px;
    margin: 20px 26px;
}

.more-similar-list-button:hover {
    background-color: #2b2b2b;
}